{% extends 'storefront/base.html' %}
{% load static %}
{% load base_tags %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        {% if cart_items %}
            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card mb-2">
                        <div class="row p-3">
                            <div class="col">
                                <h3 class="m-0"><i class="bi bi-cart3"></i> سبد خرید</h3>
                            </div>
                            <div class="col">
                                <a href="{% url 'cart:clear-cart' %}" class="btn btn-danger float-end">  خالی کردن سبد &nbsp&nbsp<i class="bi bi-x-circle-fill"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <table class="table table-shopping-cart align-middle text-center table-striped">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" width="10%">تصویر</th>
                                    <th scope="col" width="40%">محصول</th>
                                    <th scope="col" width="15%">تعداد</th>
                                    <th scope="col" width="20%">قیمت</th>
                                    <th scope="col" width="10%" class="text-right" width="200"> </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <a href="{% url 'storefront:product-detail' cart_item.product.slug  %}"><img src="{{ cart_item.product.thumbnail.url }}" class="img-thumbnail"></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'storefront:product-detail' cart_item.product.slug  %}" class="title text-dark">{{ cart_item.product.title|persian_number }}</a>
                                    </td>
                                    <td> 
                                        <!-- col.// -->
                                        <div class="col"> 
                                            <div class="btn-group border">
                                                <a href="{% url 'cart:add-cart' cart_item.product.pk %}" class="btn btn-light" id="button-minus"> <i class="fa fa-plus"></i> </a>
                                                <input type="text" class=" btn border-0 form-control" value="{{ cart_item.quantity|persian_number }}">
                                                <a href="{% url 'cart:subtract-cart' cart_item.product.pk %}" class="btn btn-light" id="button-plus"> <i class="fa fa-minus"></i> </a>
                                            </div> <!-- input-group.// -->
                                        </div> <!-- col.// -->
                                    </td>
                                    <td> 
                                        <div class="price-wrap"> 
                                            <var class="price d-block">{{ cart_item.total_cost|persian_intcomma|persian_number}} تومان</var> 
                                            <small class="text-muted">{{cart_item.product.p_price}} هر عدد</small> 
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    <td class="text-right"> 
                                        <a href="{% url 'cart:remove-cart' cart_item.product.pk %}" class="btn btn-danger"> حذف</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div> <!-- card.// -->
                    
                </aside> <!-- col.// -->

                <aside class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>جمع کل:</dt>
                                <dd class="text-right">{{total|persian_intcomma|persian_number}} تومان</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>هزینه ارسال:</dt>
                                <dd class="text-right">{{cargo|persian_intcomma|persian_number}} تومان</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>قابل پرداخت:</dt>
                                <dd class="text-right text-dark b"><strong>{{grand_total|persian_intcomma|persian_number}} تومان</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="./images/misc/payments.png" height="26">
                            </p>
                            <a href="./place-order.html" class="btn btn-primary btn-block"><i class="bi bi-credit-card"></i>&nbsp&nbsp پرداخت نهایی </a>
                            <a href="{% url 'storefront:index' %}" class="btn btn-secondary btn-block">ادامه خرید &nbsp<i class="bi bi-box-arrow-up-left"></i></a>
                            
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->
            
            
            </div> <!-- row.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->
        {% else %} {% comment %} Message for empty cart {% endcomment %}
            <h2 class="mt-5 text-center">سبد خرید شما خالیست</h2>
            <div class="text-center mt-4">
                <a href="{% url 'storefront:index' %}" class="btn btn-primary btn-block">ادامه خرید &nbsp<i class="bi bi-box-arrow-up-left"></i></a>

            </div>
        {% endif %}  
    </div> <!-- container .//  -->
</section>
{% endblock  %}