{% extends "storefront\base.html" %}
{% load humanize %}
{% load base_tags %}

{% block title %} | {{product.title}}{% endblock %}

{% block content %}
<!-- New Items -->
<div class="container mt-3 ">
    <div class="row">
        <div class="col-4 detail-img">
            <img class="w-100 " src="{{ product.thumbnail.url }}" alt="{{product.p_title}}">
        </div>
        <div class="col-8 w-50">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb nav-detail">
                  <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'storefront:category' product.category.all.0.slug %}">{{ product.category.all.0 }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{product.p_title}}</li>
                </ol>
              </nav>
            <h3>{{product.p_title}}</h3>
            <h3 class="price-tag">قیمت: <span>{{product.p_price | intcomma}}</span> تومان</h3>

            {% for cat in product.category.all %} <span> {{ cat }} </span> {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}
