{% extends 'storefront/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endcomment %}
{% endblock  %}

{% block content %}
 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-2 mt-4">
                <h2 class="heading-section">تغییر گذرواژه</h2>
            </div>
        </div>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger shadow-sm w-75 m-auto text-center" role="alert">
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        </div>
    {% endif %}
    <section class="container rounded-3 shadow-lg w-75 my-5">
        

        <div class="row m-auto">

            <div class='col-6 w-50 p-5'>

                

                <form method="post">{% csrf_token %}
                    <div class="mb-3">
                        <label for="PasswordOld" class="form-label">گذرواژه قدیمی</label>
                        {{form.old_password|add_class:"form-control form-control-lg"}}
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger m-auto text-center mt-2" role="alert">
                                {% for error in form.old_password.errors %}
                                    {{error}}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="Password1" class="form-label">گذرواژه جدید</label>
                        {{form.new_password1|add_class:"form-control form-control-lg"}}
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger m-auto text-center mt-2" role="alert">
                                {% for error in form.new_password1.errors %}
                                    {{error}}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="Password2" class="form-label">تکرار گذرواژه جدید</label>
                        {{form.new_password2|add_class:"form-control form-control-lg"}}
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger m-auto text-center mt-2" role="alert">
                                {% for error in form.new_password2.errors %}
                                    {{error}}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-lg btn-secondary">ثبت</button>
                        <a href="{% url 'accounts:index' %}">بازگشت به پروفایل کاربری</a>
                    </div>
                </form>


            </div>

            <div class="col-6 w-50 m-auto">
                <img src="/media/site/login.jpg" class="mw-100">
                <!-- <h1>Hello</h1> -->
            </div>
        </div>


    </section>


    
{% endblock  %}
