{% extends 'storefront/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endcomment %}
{% endblock  %}

{% block content %}
 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-2 mt-4">
                <h2 class="heading-section">تغییر گذرواژه</h2>
            </div>
        </div>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger shadow-sm w-75 m-auto text-center" role="alert">
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        </div>
    {% endif %}
    <section class="container rounded-3 shadow-lg w-75 my-5">
        

        <div class="row m-auto">

            <div class='col-6 w-50 p-5'>

                <h3>گذرواژه با موفقیت تغییر کرد</h3>
                <a href="{% url 'accounts:index' %}">بازگشت به پنل کاربری</a>
                
            </div>

            <div class="col-6 w-50 m-auto">
                <img src="/media/site/login.jpg" class="mw-100">
                <!-- <h1>Hello</h1> -->
            </div>
        </div>


    </section>


    
{% endblock  %}
