{% extends 'storefront/base.html' %}

{% block content  %}
    {% if user.get_full_name %}
        <h1 class="my-4">سلام {{user.get_short_name}}</h1>
    {% else %}
        <h1 class="my-4">سلام {{user.username}}</h1>
    {% endif %}

    <div class="row mt-2">
        <div class="col-3 " >
            <div class="list-group">
                <a href="{% url 'accounts:index' %}" class="list-group-item list-group-item-action p-3 fs-5" aria-current="true">مشخصات کاربری</a>
                <a href="#" class="list-group-item list-group-item-action p-3 fs-5">سفارشات</a>
                <a href="{% url 'accounts:password_change' %}" class="list-group-item list-group-item-action p-3 fs-5">تغییر رمز عبور</a>
                <a href="#" class="list-group-item list-group-item-action p-3 fs-5">A fourth item</a>
                <a href="#" class="list-group-item list-group-item-action p-3 fs-5">And a fifth one</a>
            </div>
        </div>
        <section class="content col-9 p-3 border border-1 rounded">
            <div class="container-fluid">
                    {% block content_account %}{% endblock  %}
            </div>
        </section>
    </div>
{% endblock  %}