{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content_account %}
    <form method='post'>{% csrf_token %}
        <div class='row'>
            <div class='col-6 '>
                {{ form.username|as_crispy_field }}
            </div>
            <div class='col-6'>
                {{ form.email|as_crispy_field }}
            </div>
            <div class='col-6'>
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class='col-6'>
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <button class='btn btn-success'>ذخیره</button>
    </form>
{% endblock  %}