/* @import url('fonts.css'); */
@import url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css');

/* @font-face {
    font-family: 'Shabnam';
    src: url('fonts/shabnam/Shabnam.eot');
    src: url('fonts/shabnam/Shabnam.eot?#iefix') format("embedded-opentype"),
         url('fonts/shabnam/Shabnam.woff2') format("woff2"),
         url('fonts/shabnam/Shabnam.woff') format("woff"),
         url('fonts/shabnam/Shabnam.ttf') format("truetype");
} */

body, html{
    height: 100%;
}

body{
    /* background-color: #F1F3F5 !important; */
    background-color: #ECEFF1 !important;
    font-family: "Shabnam" !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: rgb(27, 28, 31);
    color: white;
}

.shopping-cart {
    background-color: #CFD8DC;
}

.shopping-cart:hover {
    background-color: #FFCDD2 !important;
}


.nv-w {
    margin-left: 0 !important ;
    font-size: 1rem !important;
}

.detail-img {
    width: 40% !important;
}
div.detail-img img {
    border-radius: 10px;
}

.nav-detail a, li{
    color: #6c757d ;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 100;
    transition: color 0.3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav-detail a:hover {
    color: #606CEC;
}

.nav-link.active {
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}
.nav-h a:hover {
    color: #E74C3C !important;
}

.price-tag span{
    font-size: 1.5rem;
    font-weight: 800;
    color: #606CEC;
}
.price-tag {
    font-size: 1.5rem;
    color: #22222b
}

.list-group-flush>.list-group-item {
    border-width: 0 !important;
    padding: 0 !important;
}

.list-group-flush>.list-group-item a:hover {
    color: #D81B60;
}


/* ******** Making images into square in cards ******** */
.image-card{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image-card img{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
}
/* **************************************************** */

.megasubmenu{ padding:1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu .dropdown-toggle::after{
        position:relative;
        float: left;
        left: -7px;
        top: 7px;
		border-top: .0em solid transparent;
	    border-left: 0;
	    border-bottom: .0em solid transparent;
	    border-right: .0em solid;
        
	}

	.megasubmenu{ 
		right:100%; top:0; min-height: 100%; min-width:500px;
	}

	.dropdown-menu > li:hover .megasubmenu{
		display: block;
        padding-right: 10px;
        min-width: 300px;
	}
}	

.nav-arrow {
    position: relative;
    float: left;
    top: 3px;
}
/* ============ desktop view .end// ============ */


.form-check {
    padding-right: 2.5em !important;

}

.form-check .form-check-input {
    float: none !important;
    margin-right: 0.5em !important;
}

.form-check .form-check-label {
    float: right !important;
    margin-right: -1.5em;
}

.nav-detail a, li {
    color: black !important;
}